@font-face {
  font-family: 'Camaufalge';
  src: local('Camaufalge'), url(./assets/Camaufalge.otf) format('opentype');
}

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url(./assets/Helvetica.otf) format('opentype');
}

input:checked+.toggle-switch {
  transform: translateX(2px);
  background-color: #3490dc;
}

input:focus+.toggle-switch {
  box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.5);
}

input:checked+.toggle-switch .toggle-circle {
  transform: translateX(100%);
}

.rotating-ellipse-section svg {
  filter: drop-shadow(-50px 85px 32px rgb(0 0 0 / 0.4));
}

.ic_bg {
  filter: drop-shadow(0px 0px 5px rgb(0 0 0 / 0.754));
}

.diagnostics-bg {
  background: url("./assets/diagnostics-banner.png") no-repeat center center/cover;
}
.move-left {
  background-position: -100px 0px;
}
.react-date-picker__wrapper {
  border: none !important;
}
.css-13cymwt-control,
.css-t3ipsp-control {
  border-radius: 30px !important;
}